* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3333;
    height:50px ;
    width: 100vw;
    flex-wrap: wrap;
    
}

.nav-1 {
    
    color: white;
    margin-left: 25px;
    gap: 5px;
}

.nav-2 {
    color: white;
    gap: 5px
    
}

.nav-3 {
    color: white;
   
}

.border {
    border-left: solid 1px white;
    height: 35px;
}

.nav-4 {
    color: white;
    margin-right: 50px;
    
}
.email-1:hover{
    cursor: pointer;
    color: #FE8A1C;
    
}
.juntar:hover {
    cursor: pointer;
    color: #FE8A1C;
 }

.space {
    padding: 10px;
}

.space:hover{
    cursor: pointer;
    color: #FE8A1C;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height:80px ;
    width: 100vw;
    flex-wrap: wrap;

    
}
.nav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
   
    
}
.orange{
    font-size:xx-large;
    color: #FE8A1C;
   
}
.gift {
    width: 21rem;
    height: 30px;
   
}

.nav3:hover {
    cursor: pointer;
    opacity: 0.7;
}
.nav4 {
    gap: 5px;
    margin-right: 50px;
}
.fav:hover{
    color: #FE8A1C;
    cursor: pointer;
}
.basket:hover {
    color: #FE8A1C;
    cursor: pointer;
}
.espacio{
    padding: 10px;
}

.header-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height:40px ;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    color: black;
    text-decoration: none;
    margin: 25px;
    
}
.btn-1 {
    margin-right: 60px ;
    width: 120px;
    height: 40px;
    background-color: white;
    border-color: #BEBFBE;
    box-shadow: none;
    border-radius: 5px;
    
}
.btn-1:hover{
   opacity: 1;
   animation: boton 1s ease-in-out;
   transition: transfom 4s ease-in-out;
   cursor: pointer;
   color: #FE8A1C;
}

@keyframes boton{
   
    50%{
        transform: scale(0.5);
    }    
    
    100%{
        transform: scale(1);
    }
}






